@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model StreamInSync.Models.RoomVM
@section Title {Create Room}
@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script>var room = @Html.Raw(Model.JsonRoom)</script>
    <script src="~/Scripts/room.js"></script>
}
<h1>@Model.Room.Name</h1>
<h3>Owner: @Model.Room.Owner.Username</h3>
<h3>Programme Name: @Model.Room.ProgrammeName</h3>
<h3>Programme Runtime: @Model.Room.Runtime</h3>
<h3>Programme Start Time: @Model.Room.ProgrammeStartTime</h3>
<h3>Invite Code: @Model.Room.InviteCode</h3>
<h4>Users</h4>
<div class="userList">
    @foreach (var member in Model.Room.Members)
    {
        <p>@member.Username</p>
    }
</div>